
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
   font-size: 1.25rem;
   margin-top: 2.25rem;
   margin-bottom: 2.25rem;
   font-weight: 700;
   color: #10B981;
   text-decoration: underline;
}